.button {
  border-radius: 16rem;
  border: 0.1rem solid $color-gray-4D;
  width: 7.4rem;
  height: 2.4rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
