.forgot-password {
  grid-row: content-s/content-e;
  grid-column: content-s/content-e;
}

.forgot-password-form {
  display: grid;
  justify-items: center;
  grid-template-columns: [s] 1fr [input-s] 629px [input-e] 1fr [e];

  &__title {
    width: 100%;
    margin-top: 6.6rem;
    grid-column: s/e;
  }

  &__email {
    margin-top: 7.7rem;
    grid-column: input-s/input-e;
    transform: translateX(-64.5px);
  }

  &__login {
    margin-top: 16.9rem;
    grid-column: input-s/input-e;
  }
}
