.newsletter-box {
  grid-row: box-s/box-e;
  grid-column: box-s/box-e;
  height: 16rem;
  width: 16rem;
  align-content: center;
  border: 0.15rem solid $color-red-BA;
  border-radius: 0.5rem;
  color: $color-red-BA;
  display: grid;
  grid-template-rows: [s] 8.1rem [m] 2.3rem [e];
  grid-template-columns: [s] 1fr [e];
  justify-items: center;

  &__day {
    align-self: end;
    font-size: 7rem;
    line-height: 8.1rem;
    margin-bottom: 1rem;
    grid-row: s/m;
    grid-column: s/e;
  }

  &__month-year {
    align-self: start;
    font-size: 2rem;
    line-height: 2.3rem;
    grid-row: m/e;
    grid-column: s/e;
  }

  &__point {
    height: 3rem;
    width: 3rem;
    background-color: white;
    grid-row: s/e;
    grid-column: s/e;
    justify-self: end;
    align-self: center;
    transform: translateX(52%) rotate(45deg);
    border: 0.15rem solid $color-red-BA;
    border-bottom: none;
    border-left: none;
  }
}
